body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: darkgreen;
}

.body-text {
    color: green;
}

.nav-items {
    text-align: right;
}

.logo {
    size: 50px;
    font-weight: bold;
}